node_modules
parcel-cache/data.mdb

.parcel-cache/data.mdb
.parcel-cache/data.mdb
*.mdb
/.parcel-cache
/coverage
dist/index.5fb5e1cc.js
dist/index.5fb5e1cc.js.map

/dist
/dist
dist/index.5fb5e1cc.js
/dist
dist/index.5fb5e1cc.js.map
dist/index.5fb5e1cc.js.map
dist/index.5fb5e1cc.js
